/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Arvo');

 * {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
  height: 100%;
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ef32d9 , #89fffd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ef32d9 , #89fffd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Arvo', serif;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.navbar-default .navbar-nav  > li > a {
    color: white;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar-default {
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ef32d9 , #89fffd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ef32d9 , #89fffd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-radius: 0;
	height: 80px;
	padding: 15px 0;
	border: none;
  border-bottom: 1px solid black;
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 2.3em;
	font-weight: 300;
	color: #3B3B43 !important;
}

a {
  font-size: 1.1em;
}

#cvs {
	.cv {
		padding: 1em 0;
		border-bottom: 1px solid black;
    h4 {
			font-size: 2em;
			font-weight: 300;
			margin-bottom: 0;
		}
		p {
			color: black;
		}

    a {
      color: #3B3B43;
    }
	}
}

#links {
	margin-top: 2em;
}
